html {
	height: 100%;
}
body {
	background-image: url("../images/achtergrond.jpg");
	background-size: cover;
	background-attachment: fixed;
	margin: 0;
	display: -webkit-flex;
	display: flex;
	height: 100%;
	-webkit-flex-direction: column;
	flex-direction: column;
}

header {
	background: rgba(0, 0, 0, 0.2);
}

.container {
	max-width: 1000px;
	margin: 0 auto 0 auto;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
}

.container > * {
	margin-top: 10px;
	margin-bottom: 10px;
}

.container > img {
	margin-left: 20px;
}

nav {
	margin-left: auto;
	margin-right: 20px;
}

nav ul {
	display: -webkit-flex;
	display: flex;
	list-style: none;
}

nav li {
	margin-left: 20px;
}

nav a {
	text-decoration: none;
	color: white;
	font-family: "trebuchet MS",sans-serif;
}

nav a:hover {
	color: #e7e7e7;
}

.title {
	min-height: 250px;
	background-position: center;
}

.homeBanner {
	background-image: url("../images/homeBanner.jpg");
}

.tomBanner {
	background-image: url("../images/tomBanner.jpg");
}

.bannerContainer {
	max-width: 1000px;
	margin: 0 auto 0 auto;
}

.bannerContainer > h1 {
	margin-left: 10px;
	font-family: "Tahoma","Geneva",sans-serif;
	font-size: 40px;
	margin-bottom: 0;
}

.bannerContainer > h1 > span {
	background-color: rgba(255, 255, 255, 0.67);
	display: inline;
	padding: 0 10px 0 10px;
}

.bannerContainer > h2 {
	margin-left: 10px;
	font-family: "Tahoma","Geneva",sans-serif;
	margin-top: 0;
	font-size: 35px;
	font-weight: normal;
}

.bannerContainer > h2 > span {
	background-color: rgba(255, 255, 255, 0.67);
	display: inline;
	padding: 0 10px 0 10px;
}

main {
	margin: 0 auto 0 auto;
	width: 100%;
	max-width: 1000px;
}

main > a {
	text-decoration: none;
	color: black;
}

.note {
	color: red;
}

.samenvatting {
	background-color: white;
	overflow: auto;
	margin-bottom: 20px;
}

.samenvatting > p {
	margin-left: 20px;
	margin-right: 20px;
	font-family: "trebuchet MS",sans-serif;
	text-align: center;
	font-size: 17px;
	color: #db1616;
}

.secties {
	overflow: auto;
	background-color: white;
	margin-bottom: 20px;
}

.secties > h1, p, h2, h3 {
	margin-left: 20px;
	margin-right: 20px;
}

.secties > h1, h2 {
	margin-bottom: 0;
	font-family: "Tahoma","Geneva",sans-serif;
}

.secties > h2 {
	font-size: 20px;
}

.secties > p {
	margin-top: 0;
	font-family: "trebuchet MS",sans-serif;
}

.secties > ul {
	font-family: "trebuchet MS",sans-serif;
	margin-top: 0;
}

.tom > img {
	float: right;
	clear: both;
	margin: 0 20px 20px 10px;
}

.tabellen {
	margin-left: 20px;
	margin-right: 20px;
}

.tabellen {
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
}

.tabellen > div > h3 {
	margin: 0;
	font-family: "Tahoma","Geneva",sans-serif;
}

.tabellen > div > table, th, td {
	border: 1px solid #898989;
}

.tabellen > div > table {
	margin-bottom: 20px;
	background-color: white;
	border-collapse: collapse;
}

.tabellen > div > table > thead {
	font-family: "Tahoma","Geneva",sans-serif;
	background-color: #ecd5d5;
}

.tabellen > div > table > thead > tr > th {
	text-align: start;
}

.tabellen > div > table > tbody {
	font-family: "trebuchet MS",sans-serif;
	background-color: whitesmoke;
}

.stijging {
	color: green;
}

.laatst {
	margin-top: 0;
}

.functies > div {
	overflow: auto;
}

.functies > div > h2 {
	font-size: 20px;
	margin-top: 0;
}

.functies > div > img {
	float: left;
	clear: both;
	margin-left: 20px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.functies > div > p {
	margin-top: 0;
	font-family: "trebuchet MS",sans-serif;
}

.noBottom {
	margin-bottom: 0;
}

.bestel {
	float: right;
	clear: both;
	margin-right: 20px;
	background-color: #eaeaea;
	padding: 10px;
}

.bestel > h1 {
	margin: 0;
	font-family: arial,sans-serif;
}

.bestel > a {
	text-decoration: none;
	color: black;
	background-color: #ff9797;
	font-weight: bold;
	font-family: "Tahoma","Geneva",sans-serif;
	padding: 10px;
	display: block;
	text-align: center;
}

footer {
	margin-top: auto;
}

.sub {
	background-color: #efefef;
	overflow: auto;
	margin: 0 auto 0 auto;
	max-width: 1000px;
}

.sub > form {
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
	margin: 10px 20px 10px 20px;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
}

.sub > form > p {
	font-family: "Tahoma","Geneva",sans-serif;
	font-size: 14px;
	margin: 0;
}

.marginLeft {
	margin-left: 5px;
}

.partners {
	background: rgba(255, 255, 255, 0.8);
	overflow: auto;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: space-evenly;
	justify-content: space-evenly;
}

.partners > h1 {
	text-align: center;
	font-family: helvetica,sans-serif;
	margin: 5px 0 0 0;
	width: 100%;
}

.partners > img {
	margin-bottom: 10px;
}

footer > p {
	text-align: center;
	margin: 0;
	font-family: "Tahoma","Geneva",sans-serif;
	font-size: 12px;
}